<!DOCTYPE html>
<html>
<head>
  <title>Da Yak Is That?</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet">
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <link href="//maxcdn.bootstrapcdn.com/bootswatch/3.2.0/flatly/bootstrap.min.css" rel="stylesheet">
  <style>
    body{
      margin-top: 70px;
      background-color: #2B7891;
      background-image: url('/assets/bg/blurred-background-10.jpg');
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-position: center top;
      background-size: cover;
    }
  </style>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
 <%= nav_bar :responsive => true, :fixed => :top, :brand => "Da Yak Is That?" do %>
  <%= menu_group do %>
  <%= menu_item "Messages", root_path %>
    <% end %>
<% end %>
  <div class="row">
      <%= yield %>
    </div>
</div>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <script type="text/javascript" src="assets/js/moment.js"></script>
  <script type="text/javascript" src="assets/js/livestamp.min.js"></script>
</body>
</html>
